# Copy everything from your .gitignore file here

# Additional ignores specific to EAS builds

# Ignore native folders (if you are using EAS Build)
/android
/ios

# Ignore test coverage reports
/coverage

node_modules/
node_modules/**/*
.expo/*
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

# Project
.tmp/*

amplify/backend/.temp
build/
dist/
node_modules/
# aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart